{% extends "base.html" %}
{% load static %}

{% block title %} {{ page_name }} {% endblock title %}

{% block content %}
{# Top half of website (not including header) #}
<div class="column">
            <h1 class="text-center">
                {{ webinfo.banner }}
            </h1>
    <div class="large-12 medium-12 medium-centered small-12 small-centered row">
      {# Info on left of page #}
        <div class="large-4 large-left medium-5 medium-left columns"> <br />
            <img src="{{ webinfo.image.url }}" width=350 height=400>
        </div>
      {# Info on right of page #}
        <div class="large-8 large-right medium-8 medium-centered small-centered columns"> <br />
            <font size="4"> <p>
                <b>{{ webinfo.num_followers }}k</b> Followers &ensp; <b>{{ webinfo.num_posts }}</b> Posts &ensp; <b>{{ webinfo.num_following}}</b> Following
            </p> </font>
            <font size="5"> <p>
                {{ webinfo.description }}
            </p>
            </font>
            <img src="{% static "media/edgarzelda.PNG" %}" height="200" width=400/>
        </div>
    </div>
</div>

{# Bottom half of website (not including footer) #}

{# Button to Recipes #}
<div class="column">
    <br />
    <div class="row small-up-1 medium-up-1 large-up-1">
        <a class="large expanded button" href="/recipes"><font size="18">Click Here For Recipes</font></a>
    </div>
</div>

{# Randomly generated Recipes #}
<div class="row small-up-1 small-centered medium-up-2 medium-centered large-up-4">
    {% if random_object1 %}
    <div class="column">
        <a href="/recipes/{{ random_object1.id }}/"><p><b>{{ random_object1.title }}</b></p></a>
        <a href="/recipes/{{ random_object1.id }}/"><img class="thumbnail" src="{{ random_object1.image.url }}" alt="" width=270 length=320></a>
    </div>
    {% endif %}
    {% if random_object2 %}
    <div class="column">
        <a href="/recipes/{{ random_object2.id }}/"><p><b>{{ random_object2.title }}</b></p></a>
        <a href="/recipes/{{ random_object2.id }}/"><img class="thumbnail" src="{{ random_object2.image.url }}" alt="" width=270 length=320></a>
    </div>
    {% endif %}
    {% if random_object3 %}
    <div class="column">
        <a href="/recipes/{{ random_object3.id }}/"><p><b>{{ random_object3.title }}</b></p></a>
        <a href="/recipes/{{ random_object3.id }}/"><img class="thumbnail" src="{{ random_object3.image.url }}" alt="" width=270 length=320></a>
    </div>
    {% endif %}
    {% if random_object4 %}
    <div class="column">
        <a href="/recipes/{{ random_object4.id }}/"><p><b>{{ random_object4.title }}</b></p></a>
        <a href="/recipes/{{ random_object4.id }}/"><img class="thumbnail" src="{{ random_object4.image.url }}" alt="" width=270 length=320></a>
    </div>
    {% endif %}
</div>
{% endblock %}
