{% extends "base.html" %}
{% load static %}

{% block title %} {{ page_name }} {% endblock title %}
{% block content %}
<div class="row">
  <div class="medium-6 medium-centered large-8 large-centered columns">
    <!-- <form method="post" action="/recipes/submit"> -->
    {% if user.is_superuser %}
                      {# enctype as seen here \/ is required for handling ImageField and FileFields #}
    <form method="post" action="" enctype="multipart/form-data" runat="server">
      {% csrf_token %}
      <div class="row column">
        <h1 class="text-center">Add a new recipe</h1>
        {{ form.errors }}
        <label> {{ form.title.label_tag }}
          {{ form.title }}
        </label>
        <label> {{ form.description.label_tag }}
          {{ form.description }}
        </label>
        <label> {{ form.ingredients.label_tag }}
          {{ form.ingredients }}
        </label>
        <label> {{ form.recipe.label_tag }}
          {{ form.recipe }}
        </label>

        {# had to manually enter form.image information as to add "onchange=" attr for JS preview #}
        <tr>
          <th>
            <label for="id_image">Image:</label>
          </th>
          <td>
            <input id="id_image" name="image" type="file" onchange="loadFile(event)"required />
          </td>
        </tr>
        {# The Preview Image #}
        <h3>Image preview: </h3 >
        <img id="output" src="#" alt="Please select an image to upload..." height="350" width="400"/>
        {# JS to provide an Image Preview when uploading a new image #}
        <script>
          var loadFile = function(event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
          };
        </script>


        <br />
        <br />
        <input type="submit" class="button expanded" value="Submit Recipe">
      </div>
    </form>
    <form action="/recipes/">
        <input type="submit" class="button expanded alert" value="Cancel">
    </form>
    {% else %}
    <h1>You must be logged into an admin account to add a recipe... Nice try Bub</h1>
    {% endif %}
  </div>
</div>
{% endblock %}
