{% extends "base.html" %}
{% load static %}

{% block title %} {{ page_name }} {% endblock title %}
{% block content %}
<div class="row">
  <div class="medium-6 medium-centered large-8 large-centered columns">
    <form method="post" action="/recipes/submit">
      {% csrf_token %}
      <div class="row column">
        <h4 class="text-center">Add a new recipe</h4>
        {{ form.errors }}
        <label> {{ form.title.label_tag }}
          {{ form.title }}
        </label>
        <label> {{ form.description.label_tag }}
          {{ form.description }}
        </label>
        <input type="submit" class="button expanded" value="Submit Recipe">
      </div>
    </form>
  </div>
</div>
{% endblock %}
