{% extends "base.html" %}
{% load static %}

{% block title %} {{ page_name }} {% endblock title %}

{% block content %}

    <div class="large-4 medium-3 columns">
        <h1>{{ recipe.title }}</h1>
        <img src="{{ recipe.image.url }}" class="img-responsive" />
        <div class="large-10 medium-10">
            {% if recipe.description %}
            <h3>Description</h3>
            <p>
                {{ recipe.description }}
            </p>
            {% endif %}
        </div>
    </div>
    {% if recipe.recipe %}
    <div class="large-4 medium-3 columns">
        {% if user.is_superuser %}
          <br />
          <form action="/recipes/{{ recipe.id }}/edit">
              <input type="submit" value="Edit Recipe" />
          </form>
          <br />
        {% else %}
        <br />
        <br />
        <br />
        {% endif %}
        <h3>Recipe</h3>
        <pre>{{ recipe.recipe }}</pre>

    </div>
    {% endif %}
    {% if recipe.ingredients %}
    <div class="large-4 medium-3 columns">
        <br />
        <br />
        <br />
        <h3>Ingredients</h3>
        <pre>{{ recipe.ingredients }}</pre>
    </div>
    {% endif %}
{% endblock %}
